<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="error-title">Server Error</h1>
      <p class="error-description">Oops! Something went wrong. We apologize for the inconvenience.</p>
      <img src="/assets/images/server-error.png" width="400" height="400" alt="Server Error Illustration" class="error-image" />
      <div class="mt-3">
        <button class="btn btn-primary go-back-button" routerLink="/">Go Back to Home</button>
      </div>
    </div>
  </div>
</div>
