<p>server-error works!</p>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="error-title">Server Error</h1>
        <p class="error-description">Oops! Something went wrong. We apologize for the inconvenience.</p>
        <img src="/assets/images/server-error.png" alt="Server Error Illustration" class="error-image" />
        <button class="btn btn-primary go-back-button" routerLink="/home">Go Back to Home</button>
      </div>
    </div>
  </div>
  