<form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="address-form">
  <div class="mb-3">
    <label for="fname" class="form-label"><i class="fa fa-user"></i> First Name</label>
    <input type="text" class="form-control" id="fname" formControlName="Fname" required>
    <mat-error *ngIf="addressForm.get('Fname')?.hasError('required') && addressForm.get('Fname')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> First Name is required.</span>
    </mat-error>
  </div>
  <div class="mb-3">
    <label for="lname" class="form-label"><i class="fa fa-user"></i> Last Name</label>
    <input type="text" class="form-control" id="lname" formControlName="Lname" required>
    <mat-error *ngIf="addressForm.get('Lname')?.hasError('required') && addressForm.get('Lname')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Last Name is required.</span>
    </mat-error>
  </div>
  <div class="mb-3">
    <label for="street" class="form-label"><i class="fa fa-map-marker-alt"></i> Street</label>
    <input type="text" class="form-control" id="street" formControlName="Street" required>
    <mat-error *ngIf="addressForm.get('Street')?.hasError('required') && addressForm.get('Street')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Street is required.</span>
    </mat-error>
  </div>
  <div class="mb-3">
    <label for="city" class="form-label"><i class="fa fa-city"></i> City</label>
    <input type="text" class="form-control" id="city" formControlName="City" required>
    <mat-error *ngIf="addressForm.get('City')?.hasError('required') && addressForm.get('City')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> City is required.</span>
    </mat-error>
  </div>
  <div class="mb-3">
    <label for="state" class="form-label"><i class="fa fa-flag"></i> State</label>
    <input type="text" class="form-control" id="state" formControlName="State" required>
    <mat-error *ngIf="addressForm.get('State')?.hasError('required') && addressForm.get('State')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> State is required.</span>
    </mat-error>
  </div>
  <div class="mb-3">
    <label for="zipcode" class="form-label"><i class="fa fa-envelope"></i> Zip Code</label>
    <input type="text" class="form-control" id="zipcode" formControlName="ZipCode" required>
    <mat-error *ngIf="addressForm.get('ZipCode')?.hasError('required') && addressForm.get('ZipCode')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Zip Code is required.</span>
    </mat-error>
    <mat-error *ngIf="addressForm.get('ZipCode')?.hasError('pattern') && addressForm.get('ZipCode')?.touched" class="error-message">
      <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Invalid ZIP code.</span>
    </mat-error>
  </div>
  <button type="button" class="btn btn-primary" (click)="goToNextStep()" [disabled]="!addressForm.valid">
    <i class="fa fa-arrow-right"></i> Next
  </button>
</form>
