<ng-container *ngIf="(breadCrumbService.breadcrumbs$ | async) as breadcrumbs">
<section *ngIf="breadcrumbs[breadcrumbs.length-1].label!== 'Home'" class="py-5" style="background-color: #f9f6f6;">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h1>{{breadcrumbs[breadcrumbs.length-1].label}}</h1>
        </div>
        <div class="col-3">
         <xng-breadcrumb></xng-breadcrumb>
      </div>
    </div>
  </div>
</section>
</ng-container>