<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to Sports Center</h1>
      <p>Your one-stop destination for all your shopping needs.</p>
    </div>
    <section class="col-3">
      <!-- Filters section -->
      <!-- Sort filter -->
      <h5 class="text-primary ml-3 mt-4 mb-3">Sort</h5>
      <select
        class="custom-select mb-4"
        [(ngModel)]="params.selectedSort"
        (change)="onSortChange()"
      >
        <option value="NameAsc">Name Ascending</option>
        <option value="NameDesc">Name Descending</option>
        <option value="PriceAsc">Price Ascending</option>
        <option value="PriceDesc">Price Descending</option>
      </select>

      <h5 class="text-primary ml-3 mt-4 mb-3">Brands</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let brand of brands; let i = index"
          [class.active]="brand.id === params.productBrandId"
          [value]="brand.id"
          (click)="selectBrand(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <h5 class="text-primary ml-3">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of types; let i = index"
          [class.active]="type.id === params.productTypeId"
          [value]="type.id"
          (click)="selectType(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>

    <!-- Products section -->
    <section class="col-9">
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pagination
          [totalCount]="totalCount"
          [pageNumber]="params.pageNumber"
          [pageSize]="params.pageSize"
          (pageChanged)="onPageChanged($event)"
        >
        </app-pagination>
      </div>
      <div class="d-flex justify-content-between align-items-center pb-2">
        <div class="d-flex justify-content-center align-items-center">
          <app-pagination-header
            [totalCount]="totalCount"
            [pageNumber]="params.pageNumber"
            [pageSize]="params.pageSize"
          ></app-pagination-header>
        </div>

        <!-- Search and Reset filters -->
        <div class="d-flex mt-2">
          <input
            class="form-control me-2"
            style="width: 200px"
            placeholder="Search"
            type="text"
            [(ngModel)]="params.search"
          />
          <button
            class="btn btn-outline-primary mx-2"
            (click)="searchProducts()"
          >
            Search
          </button>
          <!-- Call searchProducts on click -->
          <button class="btn btn-outline-success" (click)="resetFilters()">
            Reset
          </button>
          <!-- Call resetFilters on click -->
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let product of products">
            <app-product-item [product]="product"></app-product-item>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
    <app-pagination
      [totalCount]="totalCount"
      [pageNumber]="params.pageNumber"
      [pageSize]="params.pageSize"
      (pageChanged)="onPageChanged($event)"
    >
    </app-pagination>
  </div>
</div>
